{% extends 'base.html'%} {% block head %}

<style>
  .title {
    background-color:	#F8F8F8;
    width:450px;
    padding: 3px;
    padding-left: 2px;
    padding-bottom: 2px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }

.title_container {
  margin-left: 450px;
}
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  .answer_comment_content {
    background: #dddddd;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 100px;
    border-radius: 5px;
}

.question_comment_content {
    background: #dddddd;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

  .answer_content {
    background: #b8b8b8;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
  }
  </style>

<title>Search</title>

{% endblock %} {% block body %}





<div class="container" style="font-family: Roboto,sans-serif; margin-left: 15px; margin-right: 15px;">

  <div class="title_container">
  <div class="title">
    <h2> Search Results for Tag: {{tagged}}  </h2>
  </div>
  </div>
  

  {% for question in data %}
  <br>
  <button type="button" class="collapsible" style="display: flex; flex-direction: row; justify-content: space-between;position: relative;padding: 7px;"><p>{{question['title']}} </p><p style="position: absolute; margin-left: 900px;">Score: {{question['score']}} </p><p>Date Created: {{question['creation_date']}}</p> </button>
    <div class="content">
      <p>{{question['body']}}</p>
      <br>

      {% if question['comments'] %}
      <h4>Comments</h4>
      {% for question_comment_data in question['comments']  %}
      
      <div class='question_comment_content'>
        <p>Created on: {{question_comment_data['creation_date']}}</p>
        <p>Score: {{question_comment_data['score']}}</p>
        <p>{{question_comment_data['body']}}</p>
        <br>
        

      </div>
      
      {% endfor %} 
      <br>
      {% endif %}

      {% if question['answers'] %}

      <h2>Answers: </h2>
      {% for answer_data in question['answers']  %}

      <div class='answer_content'>
        <p>Created On: {{answer_data['creation_date']}}</p>
        <p>Score: {{answer_data['score']}}</p>
        <p>{{answer_data['body']}}</p>
        
        
      </div>

            {% if answer_data['comments'] %}


            <button type="button" class="collapsible" style="width: 90%; margin-left: 40px;">Comments</button>
            <div class="content">
              {% for answer_comment_data in answer_data['comments']  %}

              <div class='answer_comment_content'>
                <p>Created on :{{answer_comment_data['creation_date']}}</p>
                <p>Score: {{answer_comment_data['score']}}</p>
                <p>{{answer_comment_data['body']}}</p>
                
              </div>
                        
              {% endfor %} 
              
            </div>
            {% endif %}

          <br>
          <br>
            

            
      
      {% endfor %} 
      {% endif %}
    </div>
  


  {% endfor %} 

  <p>Response Time: {{response_time}} seconds</p>
    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
      </script>
  {% endblock %}
</div>

</div>
