{% extends 'base.html'%} {% block head %}

<style>
  .title_button{
    margin-left: 990px;
    position: absolute;
  }

  .btn-primary {
    color: #e6eeff;
    background-color: #004080 !important;
    border-radius: 6px !important;

  }

  .btn-primary:hover:active{
    background-color: #003153 !important;
  }

  .title {
    background-color:	#B3CCFF;
    width:max-content;
    padding: 10px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 7px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }

.title_container {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
  .collapsible {
    background-color: #004080;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
  }
  
  .active, .collapsible:hover {
    background-color: #003153;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #F5FAFC;
    border-radius: 5px;
  }
  .answer_comment_content {
    background: #D6ECF3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 100px;
    border-radius: 5px;
}

.question_comment_content {
    background: #E0F0F6;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

  .answer_content {
    background: #B7DDE9;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
  }
  </style>

<title>Search</title>

{% endblock %} {% block body %}





<div class="container" style="font-family: Roboto,sans-serif;width: 110%;">

  <div class="title_container">
  <div class="title">
    <div> Search Results for Tag: {{tagged}}  </div>
  </div>
  <form class="title_button" action="/">

    <input role="button" type="submit" class="btn btn-primary" value="Go Back"></input>

  </form>



  </div>
  <hr>
  

  {% for question in data %}
  <br>
  <button type="button" class="collapsible" style="display: flex; flex-direction: row; justify-content: space-between;position: relative;color: #e6eeff"><p style="width: 60%;">{{question['title']}} </p><p style="position: absolute; margin-left: 700px;">Score: {{question['score']}} </p><p>Date Created: {{question['creation_date']}}</p> </button>
    <div class="content">
      <br>
      <p>{{question['body']}}</p>
      <br>

      {% if question['comments'] %}
      <div class="font-size: 10px"><strong>Comments:</strong></div>
      {% for question_comment_data in question['comments']  %}
      
      <div class='question_comment_content'>
        <p>Created on: {{question_comment_data['creation_date']}}</p>
        <p>Score: {{question_comment_data['score']}}</p>
        <p>{{question_comment_data['body']}}</p>
        <br>
        

      </div>
      
      {% endfor %} 
      <br>
      {% endif %}

      {% if question['answers'] %}

      <div class="font-size: 12px"><strong>Answers:</strong></div>
      {% for answer_data in question['answers']  %}

      <div class='answer_content'>
        <p>Created On: {{answer_data['creation_date']}}</p>
        <p>Score: {{answer_data['score']}}</p>
        <p>{{answer_data['body']}}</p>
        
        
      </div>

            {% if answer_data['comments'] %}


            <button type="button" class="collapsible" style="width: 90%; margin-left: 40px;">Comments</button>
            <div class="content">
              {% for answer_comment_data in answer_data['comments']  %}

              <div class='answer_comment_content'>
                <p>Created on :{{answer_comment_data['creation_date']}}</p>
                <p>Score: {{answer_comment_data['score']}}</p>
                <p>{{answer_comment_data['body']}}</p>
                
              </div>
                        
              {% endfor %} 
              
            </div>
            {% endif %}

          <br>
          <br>
            

            
      
      {% endfor %} 
      {% endif %}
    </div>
  


  {% endfor %} 

  <p style="margin-top: 40px;background-color: #003153;padding: 8px;border-radius: 3px;width: max-content;color: #e6eeff;">Response Time: {{response_time}} seconds</p>
  <p>Created By: Tahmidul Hasnain Zidaan&#169; 2021</p>
  
    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
      </script>
  {% endblock %}
</div>

</div>
