{% extends 'base.html'%} {% block head %}

<style>
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  </style>

<title>Search</title>

{% endblock %} {% block body %}

<h1>Search Results for Tag: </h1> 



<div class="container">
  {% for question in data %}
  <br>
  <button type="button" class="collapsible">{{question['title']}} Score:{{question['score']}}  Date Created: {{question['creation_date']}}</button>
    <div class="content">
      <p>{{question['body']}}</p>
      <br>
      <h4>Question Comments</h4>
      {% for question_comment_data in question['comments']  %}
      
      <div class='question_comment_content'>
        <p>Created on: {{question_comment_data['creation_date']}}</p>
        <p>Score: {{question_comment_data['score']}}</p>
        <p>{{question_comment_data['body']}}</p>
        <br>
        

      </div>
      
      {% endfor %} 
      <br>

      <h2>Answers: </h2>
      {% for answer_data in question['answers']  %}
      <h4>New Answer</h4>
      <div class='answer_content'>
        <p>Answer Created On: {{answer_data['creation_date']}}</p>
        <p>Score: {{answer_data['score']}}</p>
        <p>{{answer_data['body']}}</p>
        
        
      </div>
            <h5>Answer Comments</h5>
            
            {% for answer_comment_data in answer_data['comments']  %}
            <div class='answer_comment_content'>
              <p>Created on :{{answer_comment_data['creation_date']}}</p>
              <p>Score: {{answer_comment_data['score']}}</p>
              <p>{{answer_comment_data['body']}}</p>
              
            </div>
            
            
            {% endfor %} 
            
      
      {% endfor %} 
    </div>
  <br>


  {% endfor %} 
    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
      </script>
  {% endblock %}
</div>

</div>
